:root {
  --bs-primary-rgb: 13,202,240;
}

body {
  transition: color, background-color 0.5s;
}
.plaster {
  font-family: 'Plaster', cursive;
}
.obfuscate span {
  display: none;
}
.obfuscate {
  text-transform: lowercase;
}
.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  min-height: 50vh;
}
a {
  color: rgb(var(--bs-primary-rgb));
}

/* media rule: */
@media (min-width: 768px) {

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: rgb(215 215 215);
  }
}

/* helping classes: */
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
