:root {
  --bs-primary-rgb: 13,202,240;
}

body {
  transition: color, background-color 0.5s;
}
.plaster {
  font-family: 'Plaster', cursive;
}
.obfuscate span {
  display: none;
}
.obfuscate {
  text-transform: lowercase;
}
.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  min-height: 50vh;
}
.startFade {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  animation-name: fadeOut;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.naslov {
  font-size: 4rem;
  line-height: 3.5rem;
}
.google-icon-social {
  font-size: 23px;
  color: white;
  background-color: rgb(var(--bs-primary-rgb));
  border-radius: 50%;
  padding: 7px;
  margin-top: 2px;
}
.komentar {
  color: #9d9d9d;
}
.komentar::before {
  content: "(";
}
.komentar::after {
  content: ")";
}
.progress-bar {
  background-color: rgb(var(--bs-primary-rgb));
  height:30px;
}
.progress {
  height:30px;
}
a {
  color: rgb(var(--bs-primary-rgb));
}

/*keyframes*/
@keyframes fadeOut {
  from {background-color: inherit;}
  to {background-color: rgba(0, 0, 0, 0); z-index: -1;}
}

/* media rule: */
@media (max-width: 471px) {
  .naslov {
    font-size: calc(100vw/8);
    line-height: calc(100vw/8/0.9);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: rgb(215 215 215);
  }
  .progress {
    background-color: rgb(215 215 215);
  }
}

/* helping classes: */
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
